<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmall.dao.MusicSongMapper">
<resultMap id="BaseResultMap" type="com.mmall.pojo.MusicSong">
  <constructor>
    <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
    <arg column="type" javaType="java.lang.String" jdbcType="VARCHAR" />
    <arg column="song_extra_id" javaType="java.lang.String" jdbcType="VARCHAR" />
    <arg column="song_name" javaType="java.lang.String" jdbcType="VARCHAR" />
    <arg column="artist_id" javaType="java.lang.String" jdbcType="VARCHAR" />
    <arg column="artist_name" javaType="java.lang.String" jdbcType="VARCHAR" />
    <arg column="album_id" javaType="java.lang.String" jdbcType="VARCHAR" />
    <arg column="album_name" javaType="java.lang.String" jdbcType="VARCHAR" />
    <arg column="song_link" javaType="java.lang.String" jdbcType="VARCHAR" />
    <arg column="length" javaType="java.lang.String" jdbcType="VARCHAR" />
    <arg column="bit_rate" javaType="java.lang.String" jdbcType="VARCHAR" />
    <arg column="flac_url" javaType="java.lang.String" jdbcType="VARCHAR" />
    <arg column="sq_url" javaType="java.lang.String" jdbcType="VARCHAR" />
    <arg column="hq_url" javaType="java.lang.String" jdbcType="VARCHAR" />
    <arg column="lq_url" javaType="java.lang.String" jdbcType="VARCHAR" />
    <arg column="pic_url" javaType="java.lang.String" jdbcType="VARCHAR" />
    <arg column="lrc_url" javaType="java.lang.String" jdbcType="VARCHAR" />
    <arg column="mv_id" javaType="java.lang.String" jdbcType="VARCHAR" />
    <arg column="mv_hd_url" javaType="java.lang.String" jdbcType="VARCHAR" />
    <arg column="mv_ld_url" javaType="java.lang.String" jdbcType="VARCHAR" />
  </constructor>
</resultMap>
<sql id="Base_Column_List">
  id, type, song_extra_id, song_name, artist_id, artist_name, album_id, album_name,
  song_link, length, bit_rate, flac_url, sq_url, hq_url, lq_url, pic_url, lrc_url,
  mv_id, mv_hd_url, mv_ld_url
</sql>
<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
  select
  <include refid="Base_Column_List" />
  from music_song
  where id = #{id,jdbcType=BIGINT}
</select>
    <select id="selectByTypeAndExtractId" resultType="com.mmall.pojo.MusicSong">
      select
      <include refid="Base_Column_List" />
      from music_song
      where song_extra_id = #{extractId} and type = #{type} limit 0,1
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
  delete from music_song
  where id = #{id,jdbcType=BIGINT}
</delete>
<insert id="insert" parameterType="com.mmall.pojo.MusicSong" useGeneratedKeys="true" keyProperty="id" >
  insert into music_song (id, type, song_extra_id,
  song_name, artist_id, artist_name,
  album_id, album_name, song_link,
  length, bit_rate, flac_url,
  sq_url, hq_url, lq_url,
  pic_url, lrc_url, mv_id,
  mv_hd_url, mv_ld_url)
  values (#{id,jdbcType=BIGINT}, #{type,jdbcType=VARCHAR}, #{songExtraId,jdbcType=VARCHAR},
  #{songName,jdbcType=VARCHAR}, #{artistId,jdbcType=VARCHAR}, #{artistName,jdbcType=VARCHAR},
  #{albumId,jdbcType=VARCHAR}, #{albumName,jdbcType=VARCHAR}, #{songLink,jdbcType=VARCHAR},
  #{length,jdbcType=VARCHAR}, #{bitRate,jdbcType=VARCHAR}, #{flacUrl,jdbcType=VARCHAR},
  #{sqUrl,jdbcType=VARCHAR}, #{hqUrl,jdbcType=VARCHAR}, #{lqUrl,jdbcType=VARCHAR},
  #{picUrl,jdbcType=VARCHAR}, #{lrcUrl,jdbcType=VARCHAR}, #{mvId,jdbcType=VARCHAR},
  #{mvHdUrl,jdbcType=VARCHAR}, #{mvLdUrl,jdbcType=VARCHAR})
</insert>
<insert id="insertSelective" parameterType="com.mmall.pojo.MusicSong">
  insert into music_song
  <trim prefix="(" suffix=")" suffixOverrides=",">
    <if test="id != null">
      id,
    </if>
    <if test="type != null">
      type,
    </if>
    <if test="songExtraId != null">
      song_extra_id,
    </if>
    <if test="songName != null">
      song_name,
    </if>
    <if test="artistId != null">
      artist_id,
    </if>
    <if test="artistName != null">
      artist_name,
    </if>
    <if test="albumId != null">
      album_id,
    </if>
    <if test="albumName != null">
      album_name,
    </if>
    <if test="songLink != null">
      song_link,
    </if>
    <if test="length != null">
      length,
    </if>
    <if test="bitRate != null">
      bit_rate,
    </if>
    <if test="flacUrl != null">
      flac_url,
    </if>
    <if test="sqUrl != null">
      sq_url,
    </if>
    <if test="hqUrl != null">
      hq_url,
    </if>
    <if test="lqUrl != null">
      lq_url,
    </if>
    <if test="picUrl != null">
      pic_url,
    </if>
    <if test="lrcUrl != null">
      lrc_url,
    </if>
    <if test="mvId != null">
      mv_id,
    </if>
    <if test="mvHdUrl != null">
      mv_hd_url,
    </if>
    <if test="mvLdUrl != null">
      mv_ld_url,
    </if>
  </trim>
  <trim prefix="values (" suffix=")" suffixOverrides=",">
    <if test="id != null">
      #{id,jdbcType=BIGINT},
    </if>
    <if test="type != null">
      #{type,jdbcType=VARCHAR},
    </if>
    <if test="songExtraId != null">
      #{songExtraId,jdbcType=VARCHAR},
    </if>
    <if test="songName != null">
      #{songName,jdbcType=VARCHAR},
    </if>
    <if test="artistId != null">
      #{artistId,jdbcType=VARCHAR},
    </if>
    <if test="artistName != null">
      #{artistName,jdbcType=VARCHAR},
    </if>
    <if test="albumId != null">
      #{albumId,jdbcType=VARCHAR},
    </if>
    <if test="albumName != null">
      #{albumName,jdbcType=VARCHAR},
    </if>
    <if test="songLink != null">
      #{songLink,jdbcType=VARCHAR},
    </if>
    <if test="length != null">
      #{length,jdbcType=VARCHAR},
    </if>
    <if test="bitRate != null">
      #{bitRate,jdbcType=VARCHAR},
    </if>
    <if test="flacUrl != null">
      #{flacUrl,jdbcType=VARCHAR},
    </if>
    <if test="sqUrl != null">
      #{sqUrl,jdbcType=VARCHAR},
    </if>
    <if test="hqUrl != null">
      #{hqUrl,jdbcType=VARCHAR},
    </if>
    <if test="lqUrl != null">
      #{lqUrl,jdbcType=VARCHAR},
    </if>
    <if test="picUrl != null">
      #{picUrl,jdbcType=VARCHAR},
    </if>
    <if test="lrcUrl != null">
      #{lrcUrl,jdbcType=VARCHAR},
    </if>
    <if test="mvId != null">
      #{mvId,jdbcType=VARCHAR},
    </if>
    <if test="mvHdUrl != null">
      #{mvHdUrl,jdbcType=VARCHAR},
    </if>
    <if test="mvLdUrl != null">
      #{mvLdUrl,jdbcType=VARCHAR},
    </if>
  </trim>
</insert>
<update id="updateByPrimaryKeySelective" parameterType="com.mmall.pojo.MusicSong">
  update music_song
  <set>
    <if test="type != null">
      type = #{type,jdbcType=VARCHAR},
    </if>
    <if test="songExtraId != null">
      song_extra_id = #{songExtraId,jdbcType=VARCHAR},
    </if>
    <if test="songName != null">
      song_name = #{songName,jdbcType=VARCHAR},
    </if>
    <if test="artistId != null">
      artist_id = #{artistId,jdbcType=VARCHAR},
    </if>
    <if test="artistName != null">
      artist_name = #{artistName,jdbcType=VARCHAR},
    </if>
    <if test="albumId != null">
      album_id = #{albumId,jdbcType=VARCHAR},
    </if>
    <if test="albumName != null">
      album_name = #{albumName,jdbcType=VARCHAR},
    </if>
    <if test="songLink != null">
      song_link = #{songLink,jdbcType=VARCHAR},
    </if>
    <if test="length != null">
      length = #{length,jdbcType=VARCHAR},
    </if>
    <if test="bitRate != null">
      bit_rate = #{bitRate,jdbcType=VARCHAR},
    </if>
    <if test="flacUrl != null">
      flac_url = #{flacUrl,jdbcType=VARCHAR},
    </if>
    <if test="sqUrl != null">
      sq_url = #{sqUrl,jdbcType=VARCHAR},
    </if>
    <if test="hqUrl != null">
      hq_url = #{hqUrl,jdbcType=VARCHAR},
    </if>
    <if test="lqUrl != null">
      lq_url = #{lqUrl,jdbcType=VARCHAR},
    </if>
    <if test="picUrl != null">
      pic_url = #{picUrl,jdbcType=VARCHAR},
    </if>
    <if test="lrcUrl != null">
      lrc_url = #{lrcUrl,jdbcType=VARCHAR},
    </if>
    <if test="mvId != null">
      mv_id = #{mvId,jdbcType=VARCHAR},
    </if>
    <if test="mvHdUrl != null">
      mv_hd_url = #{mvHdUrl,jdbcType=VARCHAR},
    </if>
    <if test="mvLdUrl != null">
      mv_ld_url = #{mvLdUrl,jdbcType=VARCHAR},
    </if>
  </set>
  where id = #{id,jdbcType=BIGINT}
</update>
<update id="updateByPrimaryKey" parameterType="com.mmall.pojo.MusicSong">
  update music_song
  set type = #{type,jdbcType=VARCHAR},
  song_extra_id = #{songExtraId,jdbcType=VARCHAR},
  song_name = #{songName,jdbcType=VARCHAR},
  artist_id = #{artistId,jdbcType=VARCHAR},
  artist_name = #{artistName,jdbcType=VARCHAR},
  album_id = #{albumId,jdbcType=VARCHAR},
  album_name = #{albumName,jdbcType=VARCHAR},
  song_link = #{songLink,jdbcType=VARCHAR},
  length = #{length,jdbcType=VARCHAR},
  bit_rate = #{bitRate,jdbcType=VARCHAR},
  flac_url = #{flacUrl,jdbcType=VARCHAR},
  sq_url = #{sqUrl,jdbcType=VARCHAR},
  hq_url = #{hqUrl,jdbcType=VARCHAR},
  lq_url = #{lqUrl,jdbcType=VARCHAR},
  pic_url = #{picUrl,jdbcType=VARCHAR},
  lrc_url = #{lrcUrl,jdbcType=VARCHAR},
  mv_id = #{mvId,jdbcType=VARCHAR},
  mv_hd_url = #{mvHdUrl,jdbcType=VARCHAR},
  mv_ld_url = #{mvLdUrl,jdbcType=VARCHAR}
  where id = #{id,jdbcType=BIGINT}
</update>
</mapper>