<center>
    <div style="clear:both"><img
            src="http://ogy6ikeii.bkt.clouddn.com/75732f0d52559e1eddbe4348a6283d11.jpg">
    </div>
    <audio autoplay loop>
        <source src="https://mail.qq.com/zh_CN/htmledition/data/PaintingByChagall.mp3">
    </audio>

    <div style="width:0px;height:0px;overflow:hidden;display:none;">c</div>
    <div style="margin:18px 0 0 8px;text-align:center;font-size:12px;font-weight:normal;">
        <div>上述明信片是由╰☆偶尔☆╮从QQ邮箱明信片专辑中为您精心挑选的。</div>
        <div>在特别的日子，QQ邮箱都会推出纪念明信片专辑，让您的记忆化作永恒。</div>
        <div style="text-align:center;">
            <div style="margin:10px auto;width:330px;height:26px">
                <div class="qqmail_postcard_reply_thanksbtn"
                     style="border:1px solid #488825;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px; border-radius:3px;float:left;margin-left:4px;">
                    <a class="qqmail_postcard_reply_thanksbtn" href="#{direct_sendcard_url}#"
                       style="font-size:14px;width: 150px;border:2px solid #488825;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px; border-radius:1px;height:24px;line-height:24px; cursor:pointer; background:#62A026; color:#FFF; font-weight:bold; border:1px solid #7CB04A;  padding:0 0 0px;display:block;text-decoration:none;"
                       value="" name="434647670@qq.com">答谢好友 </a></div>
                <div style="border:1px solid #488825;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px; border-radius:3px;float:left;margin-left:10px;">
                    <a class="qqmail_postcard_reply2"
                       href="http://w.mail.qq.com/cgi-bin/loginpage?f=xhtml&amp;target=RECARD&amp;ad=false"
                       style="font-size:14px;width: 150px;border:2px solid #488825;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px; border-radius:1px;height:24px;line-height:24px; cursor:pointer; background:#62A026; color:#FFF; font-weight:bold; border:1px solid #7CB04A;  padding:0 0 0px;display:block;text-decoration:none;"
                       value="">回赠明信片</a></div>
                <div class="clr"></div>
            </div>
        </div>
    </div>
</center>